[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
buildozer = "*"
cython = "==0.29.19"
virtualenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
